@layer theme, base, antd, components, utilities;

/*@import 'tailwindcss';*/
@import 'tailwindcss/theme.css' layer(theme);
/* 由于 preflight 在生产环境会与 antd 冲突，所以屏蔽 */
/*@import "tailwindcss/preflight.css" layer(base);*/
@import 'tailwindcss/utilities.css' layer(utilities);

@import './themes.css';

/* 告诉 Tailwind v4：如果 html 标签上有 .dark 类，就是暗黑模式 */
@custom-variant dark (&:where(.dark, .dark *));

body {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

/*

*::-webkit-scrollbar {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #a3a4a430;
    border: 6px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    margin-top: 2px;
}
*/
@utility scrollbar-hide {
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
    }

    /* For IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility scrollbar-thin {
    scrollbar-width: thin;
}

@utility glass {
    -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
    backdrop-filter: blur(var(--glass-blur, 40px));
    background-color: #0000;
    background-image:
        linear-gradient(135deg, oklch(100% 0 0 / var(--glass-opacity, 30%)), #0000),
        linear-gradient(
            var(--glass-reflect-degree, 100deg),
            oklch(100% 0 0 / var(--glass-reflect-opacity, 5%)) 25%,
            oklch(0% 0 0/0) 25%
        );
    box-shadow:
        0 0 0 1px oklch(100% 0 0 / var(--glass-border-opacity, 20%)) inset,
        0 0 0 2px #0000000d;
    text-shadow: 0 1px oklch(0% 0 0 / var(--glass-text-shadow-opacity, 5%));
    border: none;
}
