@layer base {
    :root {
        --color-canvas: var(--color-slate-50);
        --color-base: oklch(0 0 0 / 0.88);

        --color-primary: oklch(0.6 0.22 259.04);
        --color-secondary: oklch(0 0 0 / 0.45);
        --color-error: var(--color-red-500);

        --color-accent: var(--color-cyan-300);
        --color-accent-hover: var(--color-cyan-500);

        --color-holder-hover: var(--color-slate-300);
        --color-holder-active: var(--color-slate-400);

        --color-state-hover: var(--color-slate-200);
        --color-state-active: var(--color-slate-300);
        --color-state-mute: var(--color-slate-100);

        --color-folder-divider: var(--color-slate-200);
        --color-folder-divider-hover: var(--color-slate-500);

        --color-folder-site: var(--color-slate-100);
        --color-folder-site-hover: var(--color-slate-300);
    }

    .dark {
        --color-canvas: var(--color-slate-950);
        --color-base: oklch(1 0 0 / 0.85);

        --color-primary: oklch(0.6 0.22 259.04);
        --color-secondary: oklch(1 0 0 / 0.45);
        --color-error: var(--color-red-500);

        --color-accent: var(--color-cyan-800);
        --color-accent-hover: var(--color-cyan-500);

        --color-holder-hover: var(--color-slate-900);
        --color-holder-active: var(--color-slate-950);

        --color-state-hover: var(--color-slate-800);
        --color-state-active: var(--color-slate-600);
        --color-state-mute: var(--color-slate-900);

        --color-folder-divider: var(--color-slate-700);
        --color-folder-divider-hover: var(--color-slate-500);

        --color-folder-site: var(--color-slate-800);
        --color-folder-site-hover: var(--color-slate-900);
    }

    /* 在 Antd 的作用域内重新绑定变量 */
    /*.antd-theme {*/
    /*    --default-font-family: var(--ant-font-family);*/
    /*    --color-primary: var(--ant-color-primary);*/
    /*    --color-success: var(--ant-color-success);*/
    /*    --color-warning: var(--ant-color-warning);*/
    /*    --color-error: var(--ant-color-error);*/
    /*    --color-info: var(--ant-color-info);*/
    /*}*/
}

@theme {
    /* Ant Design 默认字体配置，作为 tailwind 的 class 调用 */
    --default-font-family: var(
        "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"
    );
    /*--color-success: var(--ant-color-success, #52c41a);*/
    /*--color-warning: var(--ant-color-warning, #faad14);*/
    /*--color-error: var(--ant-color-error, #ff4d4f);*/
    /*--color-info: var(--ant-color-info, #1677ff);*/

    /* 基础色 */
    --color-canvas: var(--color-canvas);
    --color-base: var(--color-base);

    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-error: var(--color-error);

    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);

    /* 按钮类 */
    --color-holder-hover: var(--color-holder-hover);
    --color-holder-active: var(--color-holder-active);

    /* 基础状态 */
    --color-state-hover: var(--color-state-hover);
    --color-state-active: var(--color-state-active);
    --color-state-mute: var(--color-state-mute);

    /* 目录头部的分割线 */
    --color-folder-divider: var(--color-folder-divider);
    --color-folder-divider-hover: var(--color-folder-divider-hover);

    --color-folder-site: var(--color-folder-site);
    --color-folder-site-hover: var(--color-folder-site-hover);
}
