@layer base {
    :root {
        /* https://ethanschoonover.com/solarized/ */
        --solarized-base03: #002b36;
        --solarized-base02: #073642;
        --solarized-base01: #586e75;
        --solarized-base00: #657b83;
        --solarized-base0: #839496;
        --solarized-base1: #93a1a1;
        --solarized-base2: #eee8d5;
        --solarized-base3: #fdf6e3;
        --solarized-yellow: #b58900;
        --solarized-orange: #cb4b16;
        --solarized-red: #dc322f;
        --solarized-magenta: #d33682;
        --solarized-violet: #6c71c4;
        --solarized-blue: #268bd2;
        --solarized-cyan: #2aa198;
        --solarized-green: #859900;

        --color-canvas: transparent;
        --color-base: oklch(0 0 0 / 0.88);

        --color-primary: oklch(0.6 0.22 259.04);
        --color-secondary: oklch(0 0 0 / 0.45);
        --color-error: var(--color-red-500);

        --color-accent: var(--color-cyan-300);

        --color-holder-hover: var(--color-slate-300);
        --color-holder-active: var(--color-slate-400);

        --color-state-hover: var(--color-slate-200);
        --color-state-active: var(--color-slate-300);
        --color-state-mute: var(--color-slate-100);

        --color-folder-divider: var(--color-slate-200);
        --color-folder-divider-hover: var(--color-slate-500);

        --color-folder-site: var(--color-slate-100);
        --color-folder-site-hover: var(--color-slate-300);
    }

    .dark {
        --color-canvas: transparent;
        --color-base: oklch(1 0 0 / 0.85);

        --color-primary: oklch(0.6 0.22 259.04);
        --color-secondary: oklch(1 0 0 / 0.45);
        --color-error: var(--color-red-500);

        --color-accent: var(--color-cyan-800);

        --color-holder-hover: var(--color-slate-900);
        --color-holder-active: var(--color-slate-950);

        --color-state-hover: var(--color-slate-800);
        --color-state-active: var(--color-slate-600);
        --color-state-mute: var(--color-slate-700);

        --color-folder-divider: var(--color-slate-700);
        --color-folder-divider-hover: var(--color-slate-500);

        --color-folder-site: var(--color-slate-800);
        --color-folder-site-hover: var(--color-slate-900);
    }

    [data-theme='solarized'] {
        --color-canvas: var(--solarized-base3);
        --color-base: var(--solarized-base0);

        --color-primary: var(--solarized-blue);
        --color-secondary: var(--solarized-base1);
        --color-error: var(--solarized-red);

        --color-accent: var(--solarized-base03);

        --color-holder-hover: var(--solarized-base3);
        --color-holder-active: var(--solarized-base1);

        --color-state-hover: var(--solarized-base2);
        --color-state-active: var(--solarized-base3);
        --color-state-mute: var(--solarized-base2);

        --color-folder-divider: var(--solarized-base1);
        --color-folder-divider-hover: var(--solarized-base02);

        --color-folder-site: var(--solarized-base2);
        --color-folder-site-hover: var(--solarized-base3);
    }

    .dark[data-theme='solarized'] {
        --color-canvas: var(--solarized-base03);
        --color-base: var(--solarized-base0);

        --color-primary: var(--solarized-blue);
        --color-secondary: var(--solarized-base01);
        --color-error: var(--solarized-red);

        --color-accent: var(--solarized-base2);

        --color-holder-hover: var(--solarized-base3);
        --color-holder-active: var(--solarized-base1);

        --color-state-hover: var(--solarized-base02);
        --color-state-active: var(--solarized-base03);
        --color-state-mute: var(--solarized-base02);

        --color-folder-divider: var(--solarized-base01);
        --color-folder-divider-hover: var(--solarized-base1);

        --color-folder-site: var(--solarized-base02);
        --color-folder-site-hover: var(--solarized-base03);
    }

    /* 在 Antd 的作用域内重新绑定变量 */
    /*.antd-theme {*/
    /*    --default-font-family: var(--ant-font-family);*/
    /*    --color-primary: var(--ant-color-primary);*/
    /*    --color-success: var(--ant-color-success);*/
    /*    --color-warning: var(--ant-color-warning);*/
    /*    --color-error: var(--ant-color-error);*/
    /*    --color-info: var(--ant-color-info);*/
    /*}*/
}

@theme {
    /* Ant Design 默认字体配置，作为 tailwind 的 class 调用 */
    --default-font-family: var(
        "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"
    );

    /* 基础色 */
    --color-canvas: var(--color-canvas);
    --color-base: var(--color-base);

    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-error: var(--color-error);

    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);

    /* 按钮类 */
    --color-holder-hover: var(--color-holder-hover);
    --color-holder-active: var(--color-holder-active);

    /* 基础状态 */
    --color-state-hover: var(--color-state-hover);
    --color-state-active: var(--color-state-active);
    --color-state-mute: var(--color-state-mute);

    /* 目录头部的分割线 */
    --color-folder-divider: var(--color-folder-divider);
    --color-folder-divider-hover: var(--color-folder-divider-hover);

    --color-folder-site: var(--color-folder-site);
    --color-folder-site-hover: var(--color-folder-site-hover);
}
